*,
::after,
::before,
::backdrop,
::file-selector-button {
  border-color: var(--color-border, currentColor);
}

::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

::-webkit-scrollbar-track {
  width: calc(var(--spacing) * 4);
  background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-200);
  border-radius: var(--radius-full);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-neutral-300);
}

::-webkit-scrollbar {
  width: calc(var(--spacing) * 3);
  background-color: var(--color-background);
}

body {
  color-scheme: light;
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.pattern-lines {
  background-attachment: fixed;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    315deg,
    var(--pattern-fg) 0,
    var(--pattern-fg) 1px,
    transparent 0,
    transparent 50%
  );
}

.pattern-dots {
  background-attachment: fixed;
  background-size: 10px 10px;
  background-image: radial-gradient(var(--pattern-fg) 1px, transparent 0);
}

.light-mode-image {
  display: block;
}

.dark-mode-image {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    color-scheme: dark;
  }

  .light-mode-image {
    display: none;
  }

  .dark-mode-image {
    display: block;
  }
}

.marquee-vertical {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    var(--mask-direction, to bottom),
    transparent,
    var(--color-background) 20%,
    var(--color-background) 80%,
    transparent
  );
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    transparent,
    var(--color-background) 20%,
    var(--color-background) 80%,
    transparent
  );
}

button:not(:disabled),
[role="button"]:not(:disabled) {
  cursor: pointer;
}
