KV_REST_API_READ_ONLY_TOKEN="..."
KV_REST_API_TOKEN="..."
KV_REST_API_URL="https://<url>"
KV_URL="redis://default:"
NEXT_PUBLIC_HYPERTUNE_TOKEN="..."
NEXT_PUBLIC_SUPABASE_ANON_KEY="..."
NEXT_PUBLIC_SUPABASE_URL="https://<url>"
POSTGRES_DATABASE="database"
POSTGRES_HOST="host"
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL="postgres://"
POSTGRES_URL="postgres://"
POSTGRES_URL_NON_POOLING="postgres://"
POSTGRES_USER="user"
QSTASH_CURRENT_SIGNING_KEY="sig_"
QSTASH_NEXT_SIGNING_KEY="sig_"
QSTASH_TOKEN="..."
QSTASH_URL="https://<url>"
RESEND_API_KEY="re_"
SUPABASE_ANON_KEY="..."
SUPABASE_JWT_SECRET="..."
SUPABASE_SERVICE_ROLE_KEY="..."
SUPABASE_URL="https://<url>"
